.container {
  margin: 0 auto;
  width: 300px;
}

@media (min-width: $tabletWidth) {
  .container {
    margin: 0 auto;
    width: 620px;
  }
}

@media (min-width: $desktopWidth) {
  .container {
    margin: 0 auto;
    width: 1260px;
  }
}
