.slider {
  position: relative;
}

.slider__nav {
  position: absolute;
  bottom: 21px;
  right: 18px;
  z-index: 2;

  width: 60px;
  height: 20px;
}

.slider__button {
  width: 20px;
  height: 20px;

  opacity: 0.15;

  cursor: pointer;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 20px;

  border: none;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.5;
  }
}

.slider__prev {
  margin-right: 14px;

  background-image: url("../img/prev_slide.svg");
}

.slider__next {
  background-image: url("../img/next_slide.svg");
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider__link {
  display: block;
}

.slider__item {
  display: none;
  width: 300px;
  height: 200px;

  &--active {
    display: flex;
  }

  &--background .slider__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  &--description {
    padding-top: 35px;
    padding-right: 36px;
    padding-bottom: 35px;
    padding-left: 20px;

    font-family: $fontText;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #abaeb3;

    background-color: #242526;
  }

  &--image {
    align-items: flex-end;
    padding-top: 22px;
    padding-right: 36px;
    padding-bottom: 22px;
    padding-left: 20px;

    cursor: pointer;

    background-image: url("../img/icon_zoom.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 42px 42px;
  }

  &--video {
    align-items: flex-end;
    padding-top: 22px;
    padding-right: 36px;
    padding-bottom: 22px;
    padding-left: 20px;

    cursor: pointer;

    background-image: url("../img/icon_play.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 42px 42px;
  }
}

.slider__link {
  color: inherit;
}

.slider__title {
  margin: 0 auto;

  font-family: $fontHeader;
  font-weight: 400;
  font-size: 36px;
  line-height: 17px;
  color: #ffffff;
}

.slider__description {
  margin: 0;
  margin-bottom: 38px;
}

.slider__subtitle {


  font-family: $fontHeader;
  font-weight: 400;
  font-size: 24px;
  line-height: 17px;
  color: #ffffff;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider__preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider__modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;

  display: none;
  width: 100vw;
  height: 100vh;

  &--active {
    display: block;

    background-color: rgba(0, 0, 0, 0.9);
  }

  &--image {
    .slider__modal-wrapper {
      width: 640px;
      height: 480px;
    }
  }

  &--video {
    .slider__modal-wrapper {
      width: 740px;
      height: 480px;
    }
  }
}

.slider__modal-wrapper {
  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 370px);
}

.slider__modal-close {
  position: absolute;
  top: -34px;
  right: -34px;

  width: 28px;
  height: 28px;

  opacity: 0.2;

  cursor: pointer;

  background-color: transparent;
  background-image: url("../img/icon_close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 28px 28px;

  border: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

