@font-face {
  font-family: "NewBaskervilleC";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/newbaskervillec.woff2") format("woff2"),
  url("../fonts/newbaskervillec.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pts.woff2") format("woff2"),
  url("../fonts/pts.woff") format("woff");
}
