$colorBgDark: #282a2d;
$colorBgLight:  #eff2f7;

$fontHeader: "NewBaskervilleC", "Times New Roman", serif;
$fontText: "PT Sans", "Times New Roman", serif;

$tabletWidth: 768px;
$desktopWidth: 1300px;
